@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


*{
    margin: 0; 
    padding: 0; 
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box; 
    
   }

:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);

}

body{
    /*font-size: 18px;   */
    font-weight: 400;
}

.container {
    height: 100vh;
    background: var(--Dark-cyan);
    color: var(--Very-dark-desaturated-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    position: relative;
}
.topbackground{
    position: absolute;
    background: url('images/bg-pattern-top.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 978px;
    width: 978px;
    top: -528px; 
    left: -284px;
}
.bottombackground{
    position: absolute;
    background: url('images/bg-pattern-bottom.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 978px;
    width: 978px;
    bottom: -628px; 
    right: -250px;
}
.maincard{
    background: white; 
    height: 410px; 
    width: 390px;
    border-radius: 20px; 
    z-index: 3;
    position: relative;
}
.maincard .bg-image{
    height: 140px;
    background: url('images/bg-pattern-card.svg');
    background-size: contain;
    border-radius: 20px 20px 0 0;
}
.profile-pic{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    padding: 5px;
    top: 94px ;
    background: white; 
}
.profile-pic img{
    border-radius: 50%;
}
.profile-info {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
    margin-top:70px; 
}
.profile{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--Dark-gray);
    padding-bottom: 30px;
}
.profile .name{
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--Dark-gray)
}
.profile .name span{
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
    margin-right:7px;
}
.profile .location{
    color: var(--Dark-gray)
}
.socialcard{
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    width: 100%;
    padding-top: 20px;
    text-align: center;
}
.socialcard h2{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 7px; 
}
.socialcard p{
    color: var(--Dark-gray) 
}
/*Responsive */
@media (max-width: 375px){
    topbackground{
        height: 375px;
        width: 375px;
        top: -160px; 
        left: -167px;
}
.bottombackground{
    height: 375px;
    width: 375px;
    bottom: -79px; 
    right: -167px;
}
}