    :root {
        --Dark-cyan: hsl(158, 36%, 37%);
        --Darker-cyan: hsl(158, 36%, 20%);
        --Cream: hsl(30, 38%, 92%);
        --Very-dark-blue: hsl(212, 21%, 14%);
        --Dark-grayish-blue: hsl(228, 12%, 48%);
        --White: hsl(0, 0%, 100%);

        --font-accent: 'Fraunces', serif;
        --font-base: 'Montserrat', sans-serif;

        --fw-regular: 500;
        --fw-bold: 700;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    line-height: 1.9rem;
  }
  
  body {
    font-family: var(--font-base);
    font-weight: var(--fw-regular);
    font-size: 0.875rem;
    color: var(--Dark-grayish-blue);
    background-color: var(--Cream);
    display: grid;
    min-height: 100vh;
    place-content: center; 
    margin: 1rem;
    }

    /* utilities*/
    .flex_group{
      display: flex;
      gap:1rem;
      flex-wrap:wrap; 
      align-items: center;
    }

    /*product styling*/
    .product{
      --content-padding: 1.5rem;
      --content-spacing: 1rem;
      --character-spacing: 0.312rem; 

      display: grid;
      background-color: var(--White);
      border-radius: 0.5rem; 
      overflow: hidden; 
      max-width: 600px; 
    }

    @media (min-width: 600px){
        .product{
          display: grid;
          grid-template-columns: 1fr 1fr;
        }

    }

    .product__content {
      display: grid; 
      gap: var(--content-spacing);
      padding: var(--content-padding);
    }

    .product__category{
      text-transform: uppercase; 
      letter-spacing: var(--character-spacing);
    }
    .product__heading{
      font-family: var(--font-accent);
      font-size: 2rem; 
      color: var(--Very-dark-blue);

    }
    .product_price{
      font-family: var(--font-accent);
      color: var(--Dark-cyan);
      font-size: 2rem;
    }

    .button{
      display: inline-flex;
      gap: 0.5rem;
      justify-content: center; 
      align-items: center; 
      border:0; 
      border-radius: 0.5rem; 
      background-color: var(--Dark-cyan);
      color: var(--White);
      font-weight(--fw-bold);
      font-size: 0.925rem;
      padding: 0.75em 1.5em; 
      cursor: pointer; 
      
    }

    .button:is(:hover, :focus){
      background-color: var(--Darker-cyan);

    }
    .button[data-icon = "shopping-cart"]::before {
      content: " ";
      background-image: url("./images/icon-cart.svg");
      width: 15px;
      height:16px; 

    }